# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
aipdd_env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model weights
*.pt
*.onnx
*.h5

# Logs
*.log

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db